<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="J.L Lu" />
   <link rel="stylesheet" href="/css/homepage.css" type="text/css" />
   <link rel="stylesheet" href="/css/article.css" type="text/css" />
</head>
<body>

<div class="site">
  <div class="head">
    <h1 class="head_name"><a class="head_name_href" href="/index.html">π-CALCULI</a></h1>
    <h3 class="head_description">Life is a game, so level up and enjoy it. </h3>
  </div>
  <div>
    <hr class="head_line">
  </div>
  <div>
       {{content}}
  </div>
  </div>
</body>
</html>