<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="J.L Lu" />
   <link rel="stylesheet" href="/css/homepage.css" type="text/css" />
</head>
<body>

<div class="site">
  <div class="head">
    <h1 class="head_name"><a class="head_name_href" href="/index.html">OUTER HEAVEA</a></h1>
    <h3 class="head_description">Life is a game, so level up and enjoy it. </h3>
  </div>
  <div>
    <hr class="head_line">
  </div>
  <div class="content">
    <div class="left">
      <h3 class="left_side_title">About Me</h3>
      <ul class="left_side_list">
        <li>Student</li>
        <li>Programer</li>
        <li>Video Gamer</li>
        <li>Soccer Player</li>
      </ul>
      <h3 class="left_side_title">Find Me</h3>
      <ul class="left_side_list">
        <li>ljlself@gmail.com</li>
        <li>github</li>
        <li>stackoverflow</li>
      </ul>
    </div>
    {{content}}
  </div>
</body>
</html>